@import "../../../assets/styles/common/variables";

.app-header {
  height: 55px;
  background-color: $layout-background;
  color: $white-neutral;

  display: flex;
  flex-direction: row;
  justify-content: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    display: flex;
    align-items: center;
  }
}
