@import "../../../assets/styles/common/variables";

.app-footer {
  height: 40px;
  background-color: $layout-background;
  color: $gray-bright;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  p {
    margin: 0;
    display: flex;
    align-items: center;
  }
}
