@import "../../../assets/styles/common/variables";

.todo-display {
  flex: 1;
  display: flex;

  .checkbox-wrapper {
    display: flex;
    align-items: center;
  }
  .contents-wrapper {
    flex: 1;
    padding: 0 10px;
    color: $text-primary;

    display: flex;
    flex-direction: column;

    .task-header {
      display: flex;
      align-items: center;

      .todo-task {
        flex: 1;
        margin: 0;
        font-size: 18px;
        line-break: anywhere;
        line-height: 1.2;

        display: flex;
        align-items: center;
        text-align: start;
      }
      .button-wrapper {
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .todo-btn {
          width: 50px;
          height: 30px;
          border: none;
          border-radius: 5px;
          font-size: 12px;

          & + .todo-btn {
            margin-left: 5px;
          }

          &:disabled {
            opacity: 0.5;
          }
        }
        .btn-edit {
          background-color: $button-positive;
          color: $button-positive-text;
        }
        .btn-delete {
          background-color: $button-neutral;
          color: $button-neutral-text;
        }
      }
    }
    .todo-details {
      flex: 1;
      min-height: 19px;
      margin: 5px;
      padding: 10px;
      background-color: $todo-item-details-background;
      border-radius: 5px;
      font-size: 14px;
      text-align: left;
      white-space: pre-line;
    }
    .extra-info {
      margin-top: 5px;
      border-radius: 5px;
      padding: 0 10px 5px;
      text-align: left;

      .action-info {
        display: flex;
        flex-direction: column;
        font-size: 14px;

        .todo-info {
          .label {
          }
          .value {
            background-color: $gray-bright;
            border-radius: 5px;
            padding: 2px 5px;
          }
          & + .todo-info {
            margin: 11px 0 0;
          }
        }

        @media screen and (min-width: 758px) {
          flex-direction: row;

          .todo-info {
            & + .todo-info {
              margin: 0 0 0 10px;
            }
          }
        }
      }
      .datetime-info {
        margin-top: 15px;
        font-size: 12px;
        color: $gray-neutral;

        display: flex;
        flex-direction: column;

        .todo-info {
          & + .todo-info {
            margin: 5px 0 0;
          }
        }

        @media screen and (min-width: 758px) {
          margin-top: 5px;
          flex-direction: row;

          .todo-info {
            & + .todo-info {
              margin: 0 0 0 10px;
            }
          }
        }
      }
      .todo-info {
        .label {
        }
        .value {
        }

        // & + .todo-info {
        //   margin-left: 20px;
        // }
        &.caution {
          font-weight: bold;
          color: $text-warning;

          @keyframes blinker {
            from {
              opacity: 1;
            }
            to {
              opacity: 0;
            }
          }
          animation-name: blinker;
          animation-iteration-count: infinite;
          animation-timing-function: cubic-bezier(1, 0.5, 0.5, 1);
          animation-duration: 1.7s;
        }
      }
    }
  }
}
