@import "../../assets/styles/common/variables";

.todos {
  height: 100%;
  padding: 20px;

  .todo-list {
    margin: 0;
    padding: 0;

    .todo-empty {
      padding: 20px 0;
    }
  }
  .button-area {
    margin-top: 5px;
    display: flex;

    .todo-btn {
      flex: 1;
      height: 40px;
      & + .todo-btn {
        margin-left: 5px;
      }

      &:disabled {
        background-color: $button-disabled;
      }
    }
    .btn-add {
      background-color: $button-positive;
    }
  }
}
